extends layout

block content
  .container.m-y-3
    h1.page-header Page Not Found
    p.lead The page you requested either moved or doesn't exist.
    p
      a(href="/", title="Back to Homepage") Back to Homepage
