extends layout

block content
  
  .container
    .main-content
      .page-header
        h1 About Katherine
        p.text-muted Learn who I am and why I practice psychotherapy and counseling.
      p Katherine offers counseling and psychotherapy services in Palo Alto. She has over 16 years of experience as a counselor, educator, and retreat leader, working predominantly with children, teens and young adults, and their parents. Additionally, Katherine has raised a child in the Bay Area as a single parent and knows very well the demands of parenting in the Bay Area.
      p Katherine will work side by side with her clients in the unfolding of their truest, most fully expressed Self, allowing them to share all parts of who they are. Her style is warm, direct, humorous, playful, curious, and empathetic.</p>
      h3 Areas of Focus
      ul
        li Parenting Skills
        li Adolescent Counseling
        li Couples Counseling
        li Individual Counseling
        li Spirituality
        li Creative Expression 
