extends layout

block content
  
  .container
    .main-content
      .page-header
        h1 About Katherine
        p.lead.text-muted Learn who I am and why I practice psychotherapy and counseling.
      p I received my Masters in Counseling Psychology in 2011 from the Institute of Transpersonal Psychology in Palo Alto, CA (now Sofia University). Before pursuing my Masters degree and MFT license, I worked for many years as an educator specializing in leading youth retreats. It was through the facilitation of hundreds of retreats that I came to realize that young people (and people in general) have an amazing capacity to clue us into their true needs and wants, if only we can listen and create space for them. I began developing curriculum for teens and teaching about social and emotional learning and development. These experiences led me to pursue counseling formally. As someone who has always been a deeply spiritual person I found myself drawn to the transpersonal and holistic models of psychology, which led me to study at the Institute of Transpersonal Psychology. There I had the great honor to study under teachers like Robert Frager and John and Ann Gila.
      p During my internship phase, I worked at Fred Finch Youth Center where I served as a Mental Health Therapist and Behavioral Coach for youth ages 3-20. I also worked as a Family Therapist for incarcerated and probation youth, providing a brief family therapy model to help families in crisis. Other internships included the Women’s Recovery Association, Mindfulness Centered Healing, and a private practice internship seeing couples in Palo Alto. The thread throughout all of my clinical work has been my focus on relationships. I am deeply fascinated with relationships and how we as humans interact and go about getting our needs met. I am deeply committed to strengthening the quality of our human relationships and assisting others to be more authentic within those relationships.

      h3 Who I Work with
      p.lead In my practice I see couples, families, individuals and teens.
      
      p I am currently a staff therapist with The Couples Institute in Menlo Park, utilizing the Developmental Model created by Dr. Ellyn Bader and Dr. Peter Pearson, founders of <a href="//www.couplesinstitute.com/marriage-counselors/palo-alto-marriage-counseling/">The Couples Institute</a> in Menlo Park.
      p I help couples and individuals discover and express more of who they are. Weaving together mindfulness practices, depth psychology, and the Developmental Model of Couples Therapy, I offer many different perspectives and practical tools. I invite greater awareness to what is happening in the body during conflicts to teach couples how to soothe their nervous systems so that they can be truly present with themselves and with one another. My approach is friendly, sincere, personalized, and compassionate.
      p I have a special place in my heart for family work and helping families navigate the developmental years, especially couples that might be struggling with parenting issues that impact the relationship. Parenting in the Bay Area can be very demanding and has its own rewards and challenges. I create a safe and supportive environment that invites deeper connection, more heartfelt communication, greater understanding, and clearer insights.
      
      h3 My Areas of Focus
      ul
        li Couples Counseling
        li Parenting Skills
        li Child & Adolescent Therapy
        li Family Therapy
        li Co-parenting Issues
        li Mindfulness Practices
