extends layout

block content
  
  .container
    .main-content
      .page-header
        h1 About Katherine
        p.text-muted Learn who I am and why I practice psychotherapy and counseling.
      p I offer counseling and psychotherapy services in Palo Alto. I started this journey over 20 years ago when I began leading retreats for teens. It was on retreats that I realized that young people have an amazing capacity to clue us into their true needs and wants, if only we can listen and create space for them. 
      p I am a counselor, educator, parent, and retreat & workshop leader, working with children, teens, young adults, and their families to assist them in navigating the developmental years. Parenting in the Bay Area can be very demanding and has its own rewards and challenges. I create a safe and supportive enviornment that invites deeper connection, more heartfelt communication, greater understanding, and clearer insights. I offer unconditional positive regard because let's face it, being a parent this day in age is hard! And being a teen or young person this day in age is hard! We all need a little extra support. Work with me to achieve the family cohesiveness you've been wishing for but don't know how to attain. 
      p My style is warm, direct, humorous, playful, curious, and empathetic.</p>
      p
      h3 Areas of Focus:
      ul
        li Parenting Skills
        li Child & Adolescent Therapy 
        li Family Therapy 
        li Co-parenting Issues
        li Mindfulness Pratices 
