mixin nav-link(url, title)
  - var isActive = currentUrl === url;
  li.nav-item(class="#{isActive ? 'active' : ''}")
    a.nav-link(class!=attributes.class, href=url)
      if block
        block
      else
        | #{title}

// Website Navigation
nav.navbar.navbar-static-top.navbar-light.bg-faded
  a.navbar-brand(href="/") Katherine Warner, MA, MFT
  ul.nav.navbar-nav
    +nav-link('/', 'Home')
    +nav-link('/about', 'About')
    +nav-link('/services', 'Services')
    +nav-link('#footer', 'Contact')(class='contact-link')
    +nav-link('//blog.kwmft.com', 'Blog')
