mixin nav-link(url, title)
  - var isActive = currentUrl === url;
  li.nav-item(class="#{isActive ? 'active' : ''}")
    a.nav-link(class!=attributes.class, href=url)
      if block
        block
      else
        if attributes.icon
          i(class="icon icon-fw icon-#{attributes.icon}")
          |  
        | #{title}
      if isActive
        span.sr-only (current)

// Website Navigation
nav.navbar.navbar-static-top.navbar-default.bg-faded
  button.navbar-toggler.hidden-sm-up.pull-right(type='button', data-toggle='collapse', data-target='#collapsingNavbar')
    | ☰
  a.navbar-brand(href="/") Katherine Warner, MA, MFT
  #collapsingNavbar.collapse.navbar-toggleable-xs
    ul.nav.navbar-nav.pull-right
      +nav-link('/contact', 'Contact Katherine')(class='btn btn-sm btn-primary contact-cta', icon='envelope-btm')
      +nav-link('/', 'Home')
      +nav-link('/about', 'About')
      +nav-link('/services', 'Services')
      +nav-link('//blog.kwmft.com', 'Blog')
