extends layout

block content
  
  .container
    .main-content
      .page-header
        h1 Services
        p.lead I provide individual, couples, and family therapy.
        p The current rate for a 50 minute session is $180. A 75 minute session is also available for $220.
        h4 Cancellations
        p For sessions cancelled with less than 24 hours notice, there will be a charge of $125.
        small.text-muted.text-italic Rates are subject to change with reasonable notice to clients.
        
