extends layout

block content
  
  .container
    .main-content
      .page-header
        h1 Services
        p.lead I am available for sessions with individuals, couples, and families.
      h4 Pricing
      p 50 minute sessions are $170. 75 minute sessions are available for $210.
      h4 Cancellations
      p For sessions cancelled with less than 24 hours notice, there will be a charge of $125.
      small.text-muted.text-italic Rates are subject to change with reasonable notice to clients.
        
